.chats {
  width: 100%;
  margin-inline: 1rem;
  height: calc(100% - 2rem);
  border-radius: 1rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .chats {
    height: calc(100% - 4rem);
    width: 66%;
    margin-inline: 1rem 2rem;
  }
}
